@import 'libs/bootstrap-reboot.min';


@import 'base/mixins';
@import 'base/variables';
@import 'base/animations';

* {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    
}



@import 'blocks/header';
@import 'blocks/intro';
@import 'blocks/button';

