.download {
    padding: 100px 0 100px 0;
    text-align: center;
    &__title {
        color: #2d3033;
        font-size: 28px;
        font-weight: 300;
        line-height: 21px;
        margin-bottom: 16px;
    }
    &__subtitle {
        color: #2d3033;
        font-size: 13px;
        font-weight: 700;
        line-height: 21px;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
}