.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 0;
        border-bottom: 1px solid #515369;
    }
}
    .nav {
        display: flex;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        &__link {
            opacity: 0.75;
            color: #ffffff;
            margin-right: 59px;
            text-decoration: none;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                text-decoration: underline;
                color: $second;
                transition: .5s all;
            }
        }
    }
