.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 0;
        border-bottom: 1px solid #515369;
    }
    &.fixed {
        position: fixed;
        background-color: #31444e;
    }
}
    .nav {
        display: flex;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        &__link {
            opacity: 0.75;
            color: #ffffff;
            margin-right: 59px;
            text-decoration: none;
            
            &:hover {
                text-decoration: underline;
                color: $second;
                transition: .5s all;
            }
        }
    }

.burger {
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 9px 2px;
    
    &__item {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #fff;
        font-size: 0;
        color: transparent;
        position: relative;
        &:before, &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            z-index: 1;
            background-color: #fff;
        }
        &:before {
            top: -8px;
        }
        &:after {
            bottom: -8px;
        }
    }
}
