.reviews {
    background-color: #53354a;
    overflow: hidden;
    &__item {
        display: flex;
        flex-wrap: wrap;
    }
    &__photo {
        width: 50%;
        height: 500px;
        position: relative;
    }
    &__img {
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 1;
        transform: translateY(-50%);
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding-left: 80px;
    }
    &__text {
        margin-bottom: 25px;
        color: #ffffff;
        font-family: Cardo;
        font-size: 36px;
        font-style: italic;
        line-height: 42px;
    }
    &__author {
        color: #ffffff;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
    }
}